.main-content {
    background-color: #fff;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 420px;
}