.title {
    margin-top: 20px;
    font-size: 28px;
    font-weight: 800;
}

.cta {
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    max-width: 200px;
    text-align: center;
    font-weight: 600;
    color: white;
    background-color: purple;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    margin-top: 20px;
    &:focus,
    &:hover {
        background-color: darken(purple, 5%);
    }
}